body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 80px;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar h1 {
  display: inline;
  margin-left: 10px;
}

.navbar ul {
  list-style: none;
  display: inline;
  float: right;
}

.navbar ul li {
  display: inline;
  margin-right: 10px;
}

.navbar ul li a, .navbar ul li button {
  color: white;
  text-decoration: none;
}

.signup-container, .signin-container, .forgot-password-container, .reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 100px;
}

.signup-box, .signin-box, .forgot-password-box, .reset-password-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #aaa;
}
 
.error {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.links {
    margin-top: 15px;
  }
  
  .links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }

.character-list {
  text-align: center;
}

.character-list ul {
  list-style: none;
  padding: 0;
}

.character-list ul li {
  padding: 5px 0;
}

/* Mobile View */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .navbar ul {
    display: block;
    text-align: center;
    float: none;
  }

  .navbar ul li {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }

  .signup-box, .signin-box, .forgot-password-box, .reset-password-box {
    width: 90%;
    padding: 15px;
  }
}
